@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}


.hero {
    background-image: linear-gradient(
        rgba(80, 76, 76, 0.464), 
        rgba(80, 76, 76, 0.464)
      ),
      /* your image */
      url('images/GetImage.jpeg');
    background-color: #6959594e;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.hero button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.services {
    color: #fff;
    background-color: #333;
    padding: 100px 20px;
    text-align: center;
}

.services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.services p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}

.services li {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #fff;
}

.about {
    background-color: #333;
}


/*Style voor Nav-bar*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.hero {
    padding-top: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 30px;
}

nav li:hover {
    margin-right: 30px;
    transform: scale(1.5);
    color: #6EB4D1;
    transition: transform .4s;
}

nav a {
    color: #fff;
    text-decoration: none;
}
nav a:hover {
    color: #6EB4D1;
    text-decoration: none;
}

